<div class="excerpt">
    <div class="header">
        <h1><a href="{{ post.url }}">{{ include.post.title }}</a></h1>
        <span class="date">{{ include.post.date | date: "%b %-d, %Y" }}</span>
    </div>
    <div class="body">
        {%if include.post.thumbnail %}
        <div class="thumbnail">
            {% include image.html src=include.post.thumbnail %}
        </div>
        {% endif %}
        <div class="content">
            {{ include.post.excerpt }}
        </div>
    </div>
</div>