---
---

@import "minima";

body {
  font-family: 'Noto Sans', sans-serif;

  div {
    &.linz {
      background-color: #D1E7F5;
    }

    &.landcare {
      background-color: #83A7B8;
    }
  }

  figcaption {
    text-align: center;
  }

  .screen-shot {
    width: 180px;
  }

  .post-meta .trail-data {
    list-style: none;
    font-size: 12px;
    font-style: italic;
  }
}
