---
---

@import "minima";

.screen-shot {
  width: 180px;
}

figcaption {
  text-align: center;
}

.post-meta .trail-data {
  list-style: none;
  font-size: 12px;
  font-style: italic;
}

div {
  &.linz {
    background-color: #D1E7F5;
  }

  &.landcare {
    background-color: #83A7B8;
  }
}